<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Img World</title>
    <link rel="icon" href="https://github.com/kenny101/cse134b-HW2/blob/main/public/favicon.ico?raw=true" sizes="any">
    <link rel="icon" href="https://github.com/kenny101/cse134b-HW2/blob/main/public/favicon.svg?raw=true" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://github.com/kenny101/cse134b-HW2/blob/main/public/apple-touch-icon.png?raw=true">
    <link rel="manifest" href="https://github.com/kenny101/cse134b-HW2/blob/main/public/site.webmanifest?raw=true">
    <meta name="theme-color" content="#1E3A8A">
</head>


<body>
    <nav>
        <a href="./index.html">Home</a>
        <a class="active">Browse</a>
        <a href="./Experimental.html">Experimental</a>
        <button type="button">Get Started</button>
    </nav>


    <div class="login-modal">
        <span class="close">&times;</span>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <p class="btn-text"><a href="#">Coninue with Google</a></p>
            <input type="submit" value="Sign in">
        </form>
    </div>

    <br>
    <hr>

    <main>
        <form>
            <input type="text" placeholder="Search for images">
            <button type="submit">Search</button>
        </form>


        <table>
            <tr>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image1.jpg?raw=true" alt="Image 1"></td>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image2.jpeg?raw=true" alt="Image 2"></td>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image3.jpeg?raw=true" alt="Image 3"></td>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image4.jpeg?raw=true" alt="Image 4"></td>
            </tr>
            <tr>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image5.jpeg?raw=true" alt="Image 5"></td>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image6.jpeg?raw=true" alt="Image 6"></td>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image7.jpeg?raw=true" alt="Image 7"></td>
                <td><img width="400" src="https://github.com/kenny101/cse134b-HW2/blob/main/images/image8.jpg?raw=true" alt="Image 8"></td>
            </tr>
        </table>
    </main>

    <footer>
        <p>Author: Kenny Chan<br>
    </footer>
</body>

</html>